<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>Label</key>
	<string>de.uni-erlangen.rrze.networkShareMounter</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Program</key>
	<string>/Library/Application Support/FAUmac/bin/networkShareMounter</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Preferences/SystemConfiguration/</string>
		<string>/Library/Preferences/SystemConfiguration/NetworkInterfaces.plist</string>
		<string>/Library/Preferences/SystemConfiguration/com.apple.airport.preferences.plist</string>
	</array>
</dict>
</plist>
