<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>useKeychain</key>
	<true/>
	<key>singleUserMode</key>
	<true/>
	<key>managedNetworkShares</key>
	<array/>
	<key>keyChainService</key>
	<string>Network Share Mounter</string>
	<key>keyChainComment</key>
	<string>Generated and used by Network Share Mounter</string>
	<key>authenticationDialogImage</key>
	<string>nsm_logo</string>
	<key>kerberosRealm</key>
	<string></string>
	<key>canQuit</key>
	<true/>
	<key>unmountOnExit</key>
	<true/>
	<key>canChangeAutostart</key>
	<true/>
	<key>helpURL</key>
	<string></string>
	<key>location</key>
	<string></string>
	<key>cleanupLocationDirectory</key>
	<false/>
	<key>enableAutoUpdater</key>
	<true/>
	<key>autoUpdate</key>
	<true/>
	<key>customNetworkShares</key>
	<array/>
	<key>SUFeedURL</key>
	<string>https://faumac.rrze.fau.de/nsm-appcast</string>
	<key>SUPublicEDKey</key>
	<string>tPzwpKRVdCjP2EFDrkmcX9A2XxTQRVKg6dLMaXoA8cc=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>menuShowSharesMountDir</key>
	<string>hidden</string>
	<key>sendDiagnostics</key>
	<true/>
</dict>
</plist>
